nav {
  height: 120px;
  width: 100%;
  /* background-color: #4056A1; */
  background-color: transparent;
  color: #FFFFFF;
  padding: 0 1.5em 0 1.5em;
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > span {
  font-family: "Bungee", sans-serif;
  font-size: 50px;
  /* position: fixed; */
}

nav i {
  color: #ebb287;
}

.nav-links {
  position: absolute;
  right: 2em;
}

#compose {
  background: none;
  color: inherit;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes bounce-down {
  0%   {position: relative; top: 0;}
  50%  {position: relative; top: 6px;}
  100% {position: relative; top: 0;}
}

#compose:hover > i {
  animation-name: bounce-down;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  color: #d84a31;
}