/* set field default state to hidden */
.new-tweet{
  display: none;
}

.submit-button {
  position: relative;
  top: 0;
  left: 0;
  background-color: #4056A1;
  border: none;
  color: #FFFFFF;
  padding: 0.2em 0.5em 0.2em 0.5em;
  font-family: "Bungee", sans-serif;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: #556dba;
}

.submit-button:active {
  position: relative;
  top: 1px;
  left: 1px;
}

#tweet-text {
  width: 100%;
  height: 50px;
  border: none;
  padding: 5px;
  border-bottom: 5px solid #545149;
  background-color: #f4f1ec;
  font-size: 20px;
  resize: none;
}

#tweet-text:focus {
  outline: none;
}

.btn-and-counter {
  font-family: "Bungee", sans-serif;
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
}

.error-empty, .error-limit {
  width: fit-content;
  margin: 0.5em;
  padding: 0.5em;
  color: #ad3a6a;
  background-color: #f4d8d8;
  border: 2px solid #ad3a6a;
  border-radius: 5px;
  font-size: 15px;
  font-style: italic;
}
