#scroll-to-top {
  display: none;
  height: 3.5em;
  width: 3.5em;
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 1em;
  background-color: #d84a31;
  color: white;
  opacity: 90%;
  border: none;
  border-radius: 50%;

}

#scroll-to-top:hover {
  background-color: #eb490e;
  transform: scale(1.1);
}

#scroll-to-top:focus {
  background-color: #d84a31;
}